.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 2rem 5rem;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .navbar_logo {
    margin-right: auto;
    & img {
      width: 210px;
      @media screen and (max-width: 768px) {
        width: 140px;
      }
      @media screen and (max-width: 375px) {
        width: 140px;
      }
    }
  }

  .links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 768px) {
      gap: 10px;
    }

    & a {
      text-decoration: none;
      color: black;
      white-space: nowrap;
      &.underline {
        text-decoration: underline;
      }
    }

    & li {
      font-size: 24px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    & li:hover {
      cursor: pointer;
    }
  }
}
